@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable


@{
    ViewBag.Title = "Podaci";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="30">
    <title> Fermi </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .mystyle {
            background-color: firebrick;
            color: white;
        }

        .fermo {
            background-color: deeppink;
            color: white;
        }

        .fermo07 {
            background-color: yellow;
            color: black;
        }

        .linija1 {
            background-color: blueviolet;
        }

        .linija2 {
            background-color: darkorange;
        }

        .linija3 {
            background-color: chartreuse;
        }

        .linija4 {
            background-color: darkcyan;
        }

        .linija5 {
            background-color: deeppink;
        }

        .linija6 {
            background-color: forestgreen;
        }

        .linija7 {
            background-color: khaki;
        }

        .linija8 {
            background-color: lightpink;
        }

        .linija9 {
            background-color: olive;
        }
        .linija20 {
            background-color: hotpink;
        }
        .linija21 {
            background-color: SteelBlue
        }

    </style>

</head>

<body>
    <form method="post" name="Display">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2> Zastoji mašina </h2>
                </div>
            </div>
        </div>
        <br />

        <button disabled style="background-color:white;"> <b>Fermo 50002: @ViewBag.Brojac2</b> </button>
        <button class="fermo07" disabled> <b>Fermo 50007: @ViewBag.Brojac7</b> </button>
        <button class="fermo" disabled> <b>Fermo 50008: @ViewBag.Brojac8</b></button>

        Linije:
        <button type="button" style="background-color:blueviolet;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 1 }))'"><b> 1 </b> </button>
        <button type="button" style="background-color:darkorange;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 2 }))'"><b> 2 </b> </button>
        <button type="button" style="background-color:chartreuse;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 3 }))'"><b> 3 </b> </button>
        <button type="button" style="background-color:darkcyan;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 4 }))'"><b> 4 </b> </button>
        <button type="button" style="background-color:deeppink;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 5 }))'"><b> 5 </b> </button>
        <button type="button" style="background-color:forestgreen;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 6 }))'"><b> 6 </b> </button>
        <button type="button" style="background-color:khaki;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 7 }))'"><b> 7 </b> </button>
        <button type="button" style="background-color:lightpink;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 8 }))'"><b> 8 </b> </button>
        <button type="button" style="background-color:olive;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 9 }))'"><b> 9 </b> </button>
        <button type="button" style="background-color:hotpink;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 20 }))'"><b> 20 </b> </button>
        <button type="button" style="background-color:SteelBlue;" onclick="location.href='@(Url.Action("Sortirano3", "Home", new { linija = 21 }))'"><b> 21 </b> </button>
        <button type="button" style="background-color:azure" onclick="location.href='@(Url.Action("About3", "Home"))'"> Sve linije </button>

        <br />
        <hr />

        @{
            if (Model.Rows.Count > 0)
            {
                <table class="table table-bordered table-hover" border="1">
                    <thead>
                        <tr>
                            <td>
                                Detalji
                            </td>
                            <td>
                                StopCode
                            </td>
                            <td>
                                Date
                            </td>
                            <td>
                                Macchina
                            </td>
                            <td>
                                Descrizione
                            </td>

                            <td>
                                Status
                            </td>
                        </tr>
                    </thead>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>

                            @{
                                string boja;
                                string linija1 = "LINEA-1";
                                string linija2 = "LINEA-2";
                                string linija3 = "LINEA-3";
                                string linija4 = "LINEA-4";
                                string linija5 = "LINEA-5";
                                string linija6 = "LINEA-6";
                                string linija7 = "LINEA-7";
                                string linija8 = "LINEA-8";
                                string linija9 = "LINEA-9";
                                string linija20 = "LINEA-20";
                                string linija21 = "LINEA-21";
                                string linija = dr["RoomCode"].ToString();

                                if (linija.Trim() == linija1)
                                {
                                    boja = "linija1";
                                }
                                else if (linija.Trim() == linija2)
                                {
                                    boja = "linija2";
                                }
                                else if (linija.Trim() == linija3)
                                {
                                    boja = "linija3";
                                }
                                else if (linija.Trim() == linija4)
                                {
                                    boja = "linija4";
                                }
                                else if (linija.Trim() == linija5)
                                {
                                    boja = "linija5";
                                }
                                else if (linija.Trim() == linija6)
                                {
                                    boja = "linija6";
                                }
                                else if (linija.Trim() == linija7)
                                {
                                    boja = "linija7";
                                }
                                else if (linija.Trim() == linija8)
                                {
                                    boja = "linija8";
                                }
                                else if (linija.Trim() == linija9)
                                {
                                    boja = "linija9";
                                }

                                else if (linija.Trim() == linija20)
                                {
                                    boja = "linija20";
                                }
                                else if (linija.Trim() == linija21)
                                {
                                    boja = "linija21";
                                }
                                else
                                {
                                    boja = "";
                                }
                            }

                            <td class=@boja>
                                <button type="button" class="btn btn-info" onclick="location.href='@(Url.Action("Details", "Home", new { kod = @dr["MachCode"], linija = @dr["RoomCode"] }))'">
                                    Detalji: @dr["brojac"]
                                </button>
                            </td>
                            @if (Convert.ToInt32(dr["LastStopCode"]) == 50008)
                            {
                                <td class="fermo">
                                    @dr["LastStopCode"]
                                </td>
                            }
                            else if (Convert.ToInt32(dr["LastStopCode"]) == 50007)
                            {
                                <td class="fermo07">
                                    @dr["LastStopCode"]
                                </td>
                            }
                            else
                            {
                                <td>
                                    @dr["LastStopCode"]
                                </td>
                            }
                            @if (dr["Status"] != System.DBNull.Value)
                            {
                                <td class="mystyle">
                                    @dr["DateRec"]<br />
                                    <b> @dr["TrajanjeZastoja"] </b>
                                </td>
                                <td class="mystyle">
                                    <b>@dr["MachCode"].ToString()</b> <br />
                                    @dr["RoomCode"] <br />
                                    @dr["GroupCode"] <br />
                                    @dr["ModelCode"] <br />
                                    @dr["Needles"]
                                </td>
                                <td class="mystyle">@dr["DescrizioneFermo"].ToString() </td>
                                @*<td> <button class="btn btn-danger" disabled> Preuzeto </button></td>*@
                                <td>
                                    <button class="btn btn-danger" disabled> Preuzeto </button>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("OdbaciStatus3", "Home", new { kod = @dr["UniqueId"].ToString(), zastavica = 0 })'"> Odbaci </button>

                                    @*<button type="button" id="dodaj" class="btn btn-success" onclick="location.href='@Url.Action("OdbaciStatus2", "Home", new { kod = @dr["UniqueId"].ToString() })'"> Odbaci </button>*@
                                </td>

                            }
                            else
                            {
                                <td>
                                    @dr["DateRec"] <br />
                                    <b> @dr["TrajanjeZastoja"]</b>
                                </td>
                                <td>
                                    <b>@dr["MachCode"].ToString()</b> <br />
                                    @dr["RoomCode"] <br />
                                    @dr["GroupCode"] <br />
                                    @dr["ModelCode"] <br />
                                    @dr["Needles"]
                                </td>
                                <td>@dr["DescrizioneFermo"].ToString() </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ChangeStatus3", "Home", new { kod = @dr["UniqueId"].ToString(), zastavica = 0 })'"> Preuzmi </button>
                                    <button class="btn btn-success" disabled> Odbaci </button>
                                </td>

                                @*<td> <button type="button" id="dodaj" class="btn btn-danger" onclick="location.href='@Url.Action("ChangeStatus2", "Home", new { kod = @dr["UniqueId"].ToString() })'"> Preuzmi </button></td>
                                <td> <button class="btn btn-success" disabled> Odbaci </button></td>*@
                            }

                        </tr>

                    }


                </table>
                <br />
            }
            else
            {
                <span> Nema podataka za prikaz!!</span>
            }
        }
    </form>

    <p><a onclick="location.href='@Url.Action("Index", "Home")'">Povratak na prethodnu stranicu</a></p>

</body>

</html>
